<!-- {% load static%} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body bgcolor="">
    <form class="pt-6 pr-20 pl-20 mt-16" method="get">
        <button for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
            type="submit"></button>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <input type="search" id="default-search" name="search_word"
                class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search Books From Here" required></input>

            <div class="m-12"></div>
            <button type="submit"
                class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="grid grid-cols-2 gap-4">
                <div>

                    <h1>Select Category</h1>
                    <select name="category"
                        class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="">all</option>
                        <option value="books">movie</option>
                        <option value="electronics">python</option>
                        <!-- 他のカテゴリを追加 -->
                    </select>
                </div>
                <div>
                    <h1>Sort</h1>
                    <select name="sort"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="">none</option>
                        <option value="price_asc">low price</option>
                        <option value="price_desc">high price</option>
                    </select>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-4">
                <div class="grid grid-cols-1 gap-1">

                    <h1>Affordable Price</h1>
                    <!-- <input type="number" name="min_price" min="0"> -->
                    <input type="search" id="default-search" name="min_price" min="0"
                        class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search The Price You Want"></input>
                </div>
                <div class="grid grid-cols-1 gap-1">

                    <h1>Highest Price</h1>
                    <!-- <input type="number" name="max_price" min="0"> -->
                    <input type="search" id="default-search" name="max_price" min="0"
                        class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search The Highest Price"></input>
                </div>
            </div>
        </div>
    </form>
    <ul>
        <div class="grid grid-cols-3 gap-4">
            {% for product in page_obj %}
            <a href="#"
                class="row-span-3 flex m-14 items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <div class="justify-between p-4 leading-normal">
                    <h5 class=" mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ product.name }}
                    </h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ product.price }}</p>
                </div>
            </a>
            {% empty %}
            <div class="flex justify-center">
                <h1 class="text-center object-center">No Results Found</h1>
            </div>
            {% endfor %}
        </div>
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">最初</a> <!-- 最初のページへのリンク -->
            <!-- 前のページへのリンク -->
            <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
            {% endif %}
            <span class="current">
                ページ {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
            <!-- 次のページへのリンク -->
            <a href="?page={{ page_obj.next_page_number }}">次へ</a>
            <!-- 最後のページへのリンク -->
            <a href="?page={{ page_obj.paginator.num_pages }}">最後</a>
            {% endif %}
        </span>
    </div>
</body>

</html>